
<div class="button-style">
	<%= link_to 'Ver pacientes cadastrados', pacients_path%>
	<%= link_to 'Cadastrar novo paciente', new_pacient_path%>
</div>

<br>
<br>
<br>
<div class="button-style">
	<%= button_to 'Logout', destroy_interviewer_session_path, method: :delete %>
</div>