<div class="form-style-5">

	<%= image_tag("/rede_escuraa.png", :alt => "ícone", :class => "black-image") %>

	<div class="actions">
		<%= link_to 'Ver pacientes cadastrados', pacients_path%>
		<%= link_to 'Cadastrar novo paciente', new_pacient_path%>
	</div>

	<br>
	<br>
	<br>
	<div class="actions">
		<%= button_to 'Logout', destroy_interviewer_session_path, method: :delete %>
	</div>
</div>