<div class="forms-style-5">
  
  <div class="actions">
    <%= link_to 'Ver pacientes cadastrados', pacients_path, class: "buttons" %>
	  <%= link_to 'Cadastrar novo paciente', new_pacient_path, class: "buttons" %>
  </div>

  <br>
  <br>
  <br>
    <%= button_to 'Logout', destroy_interviewer_session_path, method: :delete %>
  </div>
</div>